{{template "base" .}}

{{define "title"}}
Buy one widget
{{end}}

{{define "content"}}
<h2 class="mt-3 text-center">Buy One Widget</h2>
<hr>
<img src="/static/widget.png" alt="widget" class="image-fluid rounded mx-auto d-block">
{{end}}