{{template "base" . }}

{{define "title"}}
  Widgets
{{end}}

{{define "content"}}
  <div class="text-center">
    <img src="/static/widgets.png">
  </div>

  <h2 class="mt-5">Widgets</h2>
  <hr>

  <p>
    We carry only the highest quality product. Check out our best selling widget, or buy
    a monthly subscription, and have three widgets sent to you for the price of two
    every month!
  </p>

{{end}}