{{define "body"}}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
<p>Hello:</p>
<p>You recently requested a link to reset your password.</p>
<p>Click on the link below to get started:</p>
<p><a href="{{.Link}}">{{.Link}}</a></p>
<p>This link expires in 60 minutes.</p>
<p>--<br>
  Widgets Co.
</p>
</body>
</html>
{{end}}